.card-container {
  display: inline-block;
  width: 200px;
  text-align: center;
  border-width: 3px;
  border-color: #000000;
  border-style: double;
  margin: 5px;
}
.card-sembuh {
  background: cornflowerblue;
}

.card-meninggal {
  background: dimgrey;
}

.card-kasus {
  background: rgb(224, 33, 33);
}