.card-container {
  display: inline-block;
  width: 200px;
  text-align: center;
  border-width: 3px;
  border-color: #000000;
  border-style: double;
  margin: 5px;
}
.table {
  text-align: center;
  border: #000000;
  border-style: solid;
  padding: 2px;
}
.kolom {
  text-align: center;
  border: #5e5b5d;
  border-style: solid;
  padding: 2px;
}